
footer{
    color:white;
    text-align:center;
    box-sizing: border-box;
    height:70px;
    bottom:0;
    position:absolute;
    width:100%;
    
    border:1px solid white;
    background-color:black;
}
.body{
    height:100%;
    margin:0;
    background-position: center;
    background-image: url("back.jpg");
    background-size: cover;
}
